* {
    box-sizing: border-box;
}
/* TODO bug??, screen shifts right */

body {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.42857143;
    color: #333;
    width: 800px;
    min-height:100vh;
    margin: 0 auto;
    padding: 10px;

    background: red; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#d0d0e0, #8080e0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#d0d0e0, #8080e0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#d0d0e0, #8080e0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fff, #aaa); /* Standard syntax */
}

.error {
    color: red;
}

label {
    display: block;
    font-size: 20px;
}

input[type=text],
input[type=password] {
    -webkit-transition: width 0.4s ease-in-out;
    width: 200px;
    font-size: 20px;
    padding: 2px;
    border-radius: 4px;
}

input[type=text]:focus,
input[type=password]:focus {
    width: 300px;
}

textarea {
    -webkit-transition: width 0.5s, height 0.5s;
    width: 200px;
    height: 100px;
    font-size: 17px;
    font-family: monospace;
    border-radius: 4px;    
}

textarea:hover {
    width: 300px;
    height: 130px;
}

input[type=submit] {
    font-size: 24px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #555;
    box-sizing: content-box;
    display: block;
    unicode-bidi: isolate;
}

.post + .post {
    margin-top: 20px;
}

.post-title {
    text-shadow: 0 0 1px blue;
}

.post-title a {
    text-decoration: none;
}

.b a {
    text-decoration: none;
}

.post-author a {
    text-decoration: none;
}

a:link {
    color: #1010ac;
}

a:visited {
    color: #6161e1;
}

a:hover {
    color: #3131e1;
}

a:active {
    color: #2121e1;
}

.post-body {
    font-size: 17px;
}

.post-author {
    font-style: italic;
    text-decoration: none;    
}

nav ul {
    padding: 0;
    display: inline-block;
}

nav ul li {
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav #user-account {
    float: right;
}

.current_user {
    color: black;    
    font-style: italic;
    font-size: 12px;    
}

h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
}

h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
    display: block;
}

h4 small {
    font-size: 100%;
    font-weight: 400;
    line-height: 1;
    color: #444;
}

h5 {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    line-height: 1.1;
}

p {
    margin: 0 0 10px;
    display: block;
}

.nav-pills .a {
    color: #fff;
    background-color: #337ab7;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.nav-pills .b {
    font-style: italic;
}

.nav-users a {
    color: #fff;
    background-color: #337ab7;
    border-radius: 6px;
    position: relative;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
}

.post-content {
    color: #111;
    background-color: #ddd;
    box-shadow: 1px 1px #bbb;    
    border-radius: 10px;
    position: relative;
    display: block;
    margin: 10px 10px 10px;
    padding: 10px 10px;
    text-decoration: none;
}

.post-content .post-title {
    color: black;
}

.post-content:hover {
    background-color: #eee;
    box-shadow: 1px 1px #ccc;
}

.post-button {
    display: inline-block;
    border-radius: 4px;
    background-color: #7171e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }

.post-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.post-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.post-button:hover span {
    padding-right: 25px;
}
  
.post-button:hover span:after {
    opacity: 1;
    right: 0;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #8181e1;
    border: none;
    border-radius: 15px;
    box-shadow: 0 7px #5151e1;
}
  
.login-button:hover {
    background-color: #7171f1
}
  
.login-button:active {
    background-color: #6161e1;
    box-shadow: 0 4px #3131e1;
    transform: translateY(3px);
}

/* https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_blog&stacked=h */
/* add easter egg */