{% extends "base.html" %}

{% block content %}
    <h1>Login</h1>

    <p class="error"></p>
    <form action="/login" method="POST">
        <table>
            <tr>
                <td>
                    <input name="username" type="text" value="{{ username }}" placeholder="Username">
                    <span class="error">{{ username_error }}</span>                            
                </td>
            </tr>
            <tr>
                <td>
                    <input name="password" type="password" placeholder="Password">
                    <span class="error">{{ password_error }}</span>                            
                </td>
            </tr>
        </table>
        <button class="login-button" type="submit">Login</button>
    </form>

    <br>

    <h4>Don't have an account? <a href="/signup">Create one!</a></h4>    
{% endblock %}