{% extends "base.html" %}

{% block content %}
    <h1>Create Post</h1>
    
    <form method="POST">
        <label>
            <input type="text" name="title" value="{{ post_title }}" placeholder="Title">
        </label>
        <br>
        <label>
            <textarea name="body">{{ post_body }}</textarea>
        </label>
        
        <button class="post-button" type="submit"><span>Post </span></button>
        <span class="error">{{ post_error }}</span>        
    </form>
{% endblock %}