{% extends "base.html" %}

{% block content %}
    <h1>Signup</h1>

    <form action="/signup" method="POST">
        <table>
            <tr>
                <td>
                    <input name="username" type="text" value="{{ username }}" placeholder="Username">
                    <span class="error">{{ username_error }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="password" type="password" placeholder="Password">
                    <span class="error">{{ password_error }}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <input name="verify" type="password" placeholder="Verify Password">
                    <span class="error">{{ verify_error }}</span>
                </td>
            </tr>
        </table>
        <button class="login-button" type="submit">Signup</button>
    </form>
{% endblock %}