{% extends "base.html" %}

{% block content %}
    <h2>
        <strong>
            {% if username == session_user %}
                Your 
            {% else %}
                {{ username }}'s 
            {% endif %}
            Blog Posts
        </strong>
    </h2>

    <hr>

    {% if blogs|length == 0 %}
        <p>No posts yet</p>
    {% else %}
        {% for blog in blogs %}
            <div class="post-content" style="cursor: pointer;" onclick="window.location='/blog?id={{ blog.id }}';">
                <h2 class="post-title">{{ blog.title }}</h2>
                <p class="post-author">Post by <a href="/blog?user={{ blog.owner.username }}">{{ blog.owner.username }}</a> on {{ blog.pub_date }}</p>
                <br>
                <p class="post-body">{{ blog.body }}</p>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}

<!-- ADD COMMENTS! -->