{% extends "base.html" %}

{% block content %}
    <h4>{{ username }}'s blog</h4>

    {% if blogs|length == 0 %}
        <p>No posts yet</p>
    {% else %}
        {% for blog in blogs %}
            <h2 class="post-title"><a href="/blog?id={{ blog.id }}">{{ blog.title }}</a></h2>
            <p class="post-author">Post by <a href="/blog?user={{ blog.owner.username }}">{{ blog.owner.username }}</a> on {{ blog.pub_date }}</p>
            <br>
            <p class="post-body">{{ blog.body }}</p>
            <br>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}

<!-- ADD COMMENTS! -->